
[data-tip] {
	position: relative;
}
[data-tip]::before {
	content: '';
	
	display: none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;
	position: absolute;
	top: 30px;
	left: 35px;
	z-index: 8;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
[data-tip]::after {
	display: none;
	content: attr(data-tip);
	position: absolute;
	top: 35px;
	left: 0px;
	padding: 5px 8px;
	background: #1a1a1a;
	color: #fff;
	z-index: 9;
	font-size: 0.75em;
	height: 18px;
	line-height: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	word-wrap: normal;
}
[data-tip]:hover::before,
[data-tip]:hover::after {
	display: block;
}


[data-tip-top] {
	position: relative;
}
[data-tip-top]::before {
	content: '';
	
	display: none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #1a1a1a;
	position: absolute;
	bottom: 30px;
	left: 35px;
	z-index: 8;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
[data-tip-top]::after {
	display: none;
	content: attr(data-tip-top);
	position: absolute;
	bottom: 35px;
	left: 0px;
	padding: 5px 8px;
	background: #1a1a1a;
	color: #fff;
	z-index: 9;
	font-size: 0.75em;
	height: 18px;
	line-height: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	word-wrap: normal;
}
[data-tip-top]:hover::before,
[data-tip-top]:hover::after {
	display: block;
}


[data-tip-persistent] {
	position: relative;
}
[data-tip-persistent]::before {
	content: '';
	display: block;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-bottom: 5px solid #1a1a1a;
	position: absolute;
	top: 30px;
	left: 35px;
	z-index: 8;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
[data-tip-persistent]::after {
	display: block;
	content: attr(data-tip-persistent);
	position: absolute;
	top: 35px;
	left: 0px;
	padding: 5px 8px;
	background: #1a1a1a;
	color: #fff;
	z-index: 9;
	font-size: 0.75em;
	height: 18px;
	line-height: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	word-wrap: normal;
}


[data-tip-top-fade] {
	position: relative;
}
[data-tip-top-fade]::before {
	content: '';
	
	display: none;
	border-left: 5px solid transparent;
	border-right: 5px solid transparent;
	border-top: 5px solid #1a1a1a;
	position: absolute;
	bottom: 30px;
	left: 35px;
	z-index: 8;
	font-size: 0;
	line-height: 0;
	width: 0;
	height: 0;
}
[data-tip-top-fade]::after {
	display: none;
	content: attr(data-tip-top-fade);
	position: absolute;
	bottom: 35px;
	left: 0px;
	padding: 5px 8px;
	background: #1a1a1a;
	color: #fff;
	z-index: 9;
	font-size: 0.75em;
	height: 18px;
	line-height: 18px;
	-webkit-border-radius: 3px;
	-moz-border-radius: 3px;
	border-radius: 3px;
	white-space: nowrap;
	word-wrap: normal;
}
[data-tip-top-fade]:hover::before,
[data-tip-top-fade]:hover::after {
	display: block;
	animation: fade 2s ease-in forwards;
}

@keyframes fade {
	100% {
		opacity: 0;
	}
}
